$ts_blu_scuro: #0872a2;
$ts_blu_chiaro: #24bbe0;
$ts_grigio_base: #706f6f;
$ts_spazio: #00a4a0;
$ts_ambiente: #db9b00;
$ts_geofisica: #b9b965;
$ts_farmaceutica: #858794;
$ts_archeologia: #b44e3f;


$font_base: 'Montserrat', sans-serif;
